# Web Scraping
beautifulsoup4
requests

# Data Processing
pandas
numpy

# Text Processing (Optional, if you need it for advanced text cleaning)
nltk

# For Jupyter Notebooks (Optional, for interactive exploration)
jupyter

# Saving/Loading Models (Optional, if you plan to save trained models)
joblib


scikit-learn